/* ----- ID SELECTORS ----- */
#title {
  background: #ddf3f5;
  text-align: center;
  height: auto;
  /* position: relative; */
  color: #e36387;
}

#features {
  text-align: center;
  line-height: 3rem;
}

#picture-examples {
  padding: 0% 5% 3%;
}

#last-section {
  padding: 3% 5% 3%;
  background-color: #e36387;
  text-align: center;
  height: 15rem;
  line-height: 2rem;
}

#footer  {
  text-align: center;
  color: #e36387;
}

/* ----- TAG SELECTORS ----- */
h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 650%;
  line-height: 1.5;
  padding-top: 15%;
}

h3 {
  color: #e36387;
  font-weight: bold;
}

p {
  color: #e36387;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bold; */
}

/* ----- CLASS SELECTORS ----- */
.container-fluid {
  padding: 3% 8% 5%;
}

/* Title */
.title-button {
  color: #e36387;
  border-color: #e36387;
  margin: 2rem;
}

.title-button:hover {
  color: #e36387;
  border-color: #e36387;
  margin: 2rem;
}

.title-pic {
  border-radius: 50%;
  top: 5%;
  position: relative;
  right: 8%;
  width: 87%;
  transform: rotate(3deg);
  /* opacity: 0.9; */
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: #3DA2B8;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.1rem;
}

.nav-link {
  color: #3DA2B8;
}

.navbar-toggler {
  border-color: #3DA2B8;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(61,162,184, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Features */
.fas-icon {
  font-size: 3rem;
  padding: 20% 0 15%;
  color: #e36387;
}

.card-img-top {
  height: 250px;
}

.last-section-text {
  color: #fff;
  padding-bottom: 1rem;
}

.last-section-button {
  margin: 1rem;
}

.footer-icon {
  padding: 1rem;
}

@media (max-width: 1730px) {
  h1 {
    font-size: 550%;
  }

  .title-pic {
      top: 5%;
      position: relative;
      right: 8%;
      width: 77%;

    }
}

@media (max-width: 1450px) {
  h1 {
    font-size: 450%;
  }
}

@media (max-width: 1165px) {
  h1 {
    font-size: 350%;
  }
}

@media (max-width: 1165px) {
  h1 {
    font-size: 350%;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 300%;

  }

  .title-pic {
    top: 5%;
    left: 3%;
    width: 55%;
text-align: center;
  transform: rotate(0deg);
    /* opacity: 0; */
  }
}
